.square-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    position: absolute;
    background: #f7f7f9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
